<p>This is the receipt/newForm view.</p>
<form>
  <div class="form-group">
    <label for="eventtime">Event time</label>
    <input type="date" class="form-control" id="eventtime" placeholder="date" ng-model="receipt.eventTime">
  </div>
  <div class="form-group">
    <label for="shopInput">Shop</label>
    <select class="form-control" id="shopInput" ng-options="shop.name for shop in shops" ng-model="receipt.shop"></select>
  </div>
</form>
{{receipt}}
  <button type="submit" class="btn btn-default" ng-click="save()">Submit</button>
